* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

body, input, button {
    font-family: sans-serif;
}

header {
    padding: 30px;
    display: flex;
    justify-content: center;
    background: rgb(134, 122, 15);
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

.wrapper > .container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(134, 122, 15);
}

.wrapper > .container > h2 {
    text-align: center;
}

.wrapper > .container > form > .from-group {
    margin: 8px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(81, 102, 56);
}

.search_section > h2 {
    color: black;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
    color: black;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: black;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
}

.item > .inner h2 {
    margin-bottom: unset;
}

.item > .inner p {
    margin-top: 5px;
}

input[type=text], input[type=number] {
    border: 2px solid;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 24px;
}

input[type=text], input[type=number], .btn-submit:focus {
    outline: none;
}

.container > .form > .from-group > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.form > .from-group {
    margin: 8px 0;
}

.form > .from-group > label {
    font-weight: bold;
}

.wrapper > .container > .form > input > .btn-submit {
    color: black;
}

.check-button {
    width: 40px;
    height: 40px;

    background: url('../assets/check-outline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
    background-size: contain;
}

.trash-button {
    width: 40px;
    height: 40px;

    background: url('../assets/trash-outline.svg');
    background-size: contain;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
    background-size: contain;
}

.undo-button {
    width: 40px;
    height: 40px;

    background: url('../assets/undo-ouline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    background: url('../assets/undo-ouline.svg');
    background-size: contain;
}

.check-button:focus, .trash-button {
    outline: none;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: black;
    background: rgb(134, 122, 15);;
}

footer a {
    color: black;
}